html {
    font-size: 16px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    font-weight: bold;
}
p {
    margin-bottom: 1em;
    text-align: justify;
    margin-left: 0.5em;
}
